.contactSection, .second, .first {
  padding: 40px 10vw;
}

.contactTitle, .aboutTitle, .appsTitle, .playerTitle {
  height: 55vh;
  max-width: 100%;
  background-size: cover;
  background-attachment: unset;
}

#recentSongs, .lastSongsSection, .currentSection {
  flex-direction: column;
  padding: 6px;
}

h2 {
  color: white;
  letter-spacing: 4px;
  text-transform: lowercase;
  font-size: 2vw;
  font-weight: normal;
}

body {
  background: #1a1a1a;
  color: white;
  position: relative;
}

.playerTitle {
  background-image: url("../images/850_bgimg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3vw;
  color: #0e0d12;
  padding: 10px;
  background: #fecc00;
  background: #fdcb00ba;
  letter-spacing: 9px;
}

.logo {
  max-width: 80px;
}

.navbar {
  padding: 0 15px;
  background-color: #3f3185;
  text-transform: uppercase;
  border-bottom: solid 1px #000;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fecc00;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.currentSection {
  display: flex;
}

.container {
  transform: translateY(90px);
  margin: 0 auto;
  max-width: 100%;
  font-size: 14px;
  padding: 0;
}

.first {
  min-height: 60vh;
}

/* player info */
.playerSection {
  visibility: hidden;
  display: flex;
  min-width: 260px;
  justify-content: space-evenly;
  padding-left: 6px;
  padding-bottom: 20px;
}
.playerSection ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.artist {
  font-weight: bold;
}

.albumCover {
  max-width: 60px;
}

#currentSong {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.player {
  align-self: flex-start;
  visibility: hidden;
  padding: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.player:hover {
  opacity: 0.7;
}

.lastSongsSection h2 {
  text-align: left;
  padding-left: 7px;
}

#recentSongs {
  display: flex;
}
#recentSongs .loading {
  align-self: flex-start;
  padding-left: 20px;
}

#airedList {
  padding-left: 0;
}
#airedList li {
  display: flex;
  align-items: center;
  padding: 4px 0;
}
#airedList li img {
  padding-right: 4px;
}

.appsTitle {
  background-image: url("../images/850_IMG_7785.jpg");
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreSection {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
}
.moreSection button {
  align-self: center;
}

a {
  color: #fecc00;
  transition: color 0.3s;
}

a:hover {
  color: white;
}

a img {
  transition: opacity 0.3s;
}

a img:hover {
  opacity: 0.7;
}

#more {
  padding: 20px;
}

.second {
  padding-bottom: 0;
  max-width: 1000px;
  flex-wrap: wrap;
  margin: auto;
}
.second .col {
  text-align: center;
  min-width: 150px;
}

.btn-secondary {
  background-color: #3f3185;
}

.aboutTitle {
  background-image: url("../images/850_IMG_5270.jpg");
  display: flex;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.aboutSection {
  padding: 40px;
  padding-top: 20px;
  font-size: 16px;
  text-align: center;
  max-width: 970px;
  margin: auto;
}
.aboutSection p {
  padding-top: 20px;
}
.aboutSection img {
  width: 600px;
  max-width: 90%;
  padding: 30px;
}

.contactTitle {
  background-image: url("../images/850_IMG_4049.jpg");
  display: flex;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.contactSection {
  font-size: 1.5vw;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}
.contactSection h2 {
  padding: 15px;
}

.socialmedia {
  font-size: 25px;
  padding: 20px;
}

footer {
  transform: translateY(90px);
  text-align: center;
  background-color: #3f3185;
  padding-top: 15px;
  border-top: solid 1px #000;
}
footer a {
  font-size: 25px;
}
footer a:hover {
  text-decoration: none;
}
footer p {
  font-size: 14px;
  padding: 10px;
  padding-top: 4px;
  margin: 0;
}

.hiddenDescription {
  display: none;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .player {
    width: 120px;
  }

  .container {
    font-size: 13px;
  }
}
@media (min-width: 1100px) {
  .appsTitle, .contactTitle, .playerTitle, .aboutTitle {
    background-attachment: fixed;
  }

  h1 {
    font-size: 30px;
  }
}
@media (min-width: 870px) {
  .navbar {
    padding: 0 10vw;
  }

  .playerTitle {
    background-image: url("../images/cut_IMG_7342.jpg");
    transform: translateY(90px);
  }

  .contactTitle {
    background-image: url("../images/IMG_4049.jpg");
  }

  .appsTitle {
    background-image: url("../images/IMG_7785.jpg");
  }

  .aboutTitle {
    background-image: url("../images/IMG_5270.jpg");
  }
}
@media (max-width: 869px) {
  .appsTitle, .contactTitle, .playerTitle, .aboutTitle {
    height: 40vh;
  }

  .playerTitle {
    transform: translateY(50px);
  }

  h1 {
    font-size: 20px;
  }

  .container {
    transform: translateY(50px);
    font-size: 12px;
  }

  h2 {
    font-size: 17px;
  }

  .player {
    width: 100px;
  }

  .navbar {
    font-size: 14px;
  }

  .logo {
    max-width: 60px;
  }

  .contactSection {
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .contactSection, .aboutSection {
    font-size: 14px;
  }
  .contactSection a, .aboutSection a {
    font-size: 15px;
  }

  .aboutSection img {
    padding: 10px;
  }
}
@media (max-width: 374px) {
  .second .col {
    min-width: 100px;
  }
}

/*# sourceMappingURL=master.css.map */
