$linkColor: #fecc00;
$navColor: #3f3185;
$background: #1a1a1a;
%bgImages {
  height: 55vh;
  max-width: 100%;
  background-size: cover;
  background-attachment: unset;
}
%sections {
  flex-direction:column;
  padding: 6px;
}

%titles {
  color: white;
  letter-spacing: 4px;
  text-transform: lowercase;
  font-size: 2vw;
  font-weight: normal;
}

body {
  background: $background;
  color: white;
}
 .content {
   // background-image: url(https://www.grooveradiopt.com/fotos/IMG_7342.jpg);
   background-image: url("../images/850_bgimg.jpg");
   @extend %bgImages;
   display: flex;
   align-items: center;
   justify-content: center;
}
h1 {
  font-size: 3vw;
  color: #0e0d12;
  padding: 10px;
  background: $linkColor; // in case tranparency isn't possible
  background: #fdcb00ba;
  letter-spacing: 9px;
}

.logo {
  max-width: 80px;
}

.navbar {
  padding: 0 15px;
  background-color: $navColor;
  text-transform: uppercase;
  border-bottom: solid 1px #000;
}

.navbar-dark .navbar-nav .nav-link {
  color: $linkColor;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}
.currentSection {
  display: flex;
  @extend %sections;
}

.container {
  transform: translateY(90px);
  padding: 20px 0 0;
  margin: 0 auto;
  max-width: 100%;
  font-size: 14px;
}
.first {
  padding: 16px 10vw;
  min-height: 60vh;
}
/* player info */
.playerSection {
  visibility: hidden;
  display: flex;
  min-width: 260px;
  justify-content: space-evenly;
  padding-left: 6px;
  padding-bottom: 20px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
}
h2 {
  @extend %titles;
}
.artist {
  font-weight: bold;
}
.albumCover {
  max-width: 60px;
}

#currentSong {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.player {
  align-self: start;
  visibility: hidden;
  padding: 5px;
  cursor: pointer;
}

.lastSongsSection {
  @extend %sections;
  h2 {
    text-align: left;
    padding-left: 7px;
  }
}

// Last songs aired section
#recentSongs {
  display: flex;
  @extend %sections;
  .loading {
    align-self: start;
    padding-left: 20px;
  }
}

#airedList {
  padding-left: 0;
  li {
      display: flex;
      align-items: center;
      padding: 4px 0;
      img {
        padding-right: 4px;
      }
    }
  }
// apps section
.appsTitle {
  background-image: url("../images/IMG_7785.jpg");
   @extend %bgImages;
   display: flex;
   align-items: center;
   justify-content: center;
}

// Responsive styling
@media(min-width: 768px) and (max-width: 1000px) {
  .player {
    width: 120px;
  }
  .container {
    font-size: 13px;
  }
}

@media (min-width: 1100px) {
  .content {
    background-attachment: fixed;
  }
  h1 {
    font-size: 30px;
  }
}

@media (min-width: 870px) {
  .navbar {
    padding: 0 10vw;
  }
  .content {
    background-image: url("../images/cut_IMG_7342.jpg");
    transform: translateY(90px);
  }
}

@media (max-width: 869px) {
  .content {
    transform: translateY(50px);
  }
  h1 {
    font-size: 20px;
  }
  .container {
    transform: translateY(50px);
    font-size: 12px;
  }
  h2 {
    font-size: 17px;
  }
  .player {
    width: 100px;
  }
  .navbar {
    font-size: 14px;
  }
  .logo {
    max-width: 60px;
  }
}
@media (min-width: 576px) {
  #recentSongs {
    .loading {

    }
  }
}
