$linkColor: #fecc00;
$backgroundColor: #3f3185;

 .content {
   // background-image: url(https://www.grooveradiopt.com/fotos/IMG_7342.jpg);
   background-image: url("../images/850_bgimg.jpg");
   height: 55vh;
   background-attachment: unset;
   max-width: 100%;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;

   h1 {
     font-size: 3vw;
     color: #0e0d12;
     padding: 10px;
     background: #fdcb00ba;
     letter-spacing: 9px;
   }
}

.logo {
  max-width: 80px;
}

.navbar {
  padding: 0 15px;
  background-color: $backgroundColor;
  text-transform: uppercase;
  border-bottom: solid 1px #000;
}

.navbar-dark .navbar-nav .nav-link {
  color: $linkColor;
}

.container {
  height: 1000px;
}

// Responsive styling
@media (min-width: 1100px) {
  .content {
    background-attachment: fixed;
    h1 {
      font-size: 30px;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: 0 80px;
  }
  .content {
    background-image: url("../images/cut_IMG_7342.jpg");
    transform: translateY(90px);
  }
}

@media (max-width: 767px) {
  .content {
    transform: translateY(90px);
  }
  .content h1 {
    font-size: 20px;
  }
  .navbar {
    font-size: 14px;
  }
}
