$linkColor: #fecc00;
$navColor: #3f3185;
$background: #1a1a1a;

%sectionsPadding {
  padding: 60px 10vw;
}
%bgImages {
  height: 58vh;
  max-width: 100%;
  background-size: cover;
  background-attachment: unset;
}
%sections {
  flex-direction:column;
  padding: 6px;
}
%titles {
  color: white;
  letter-spacing: 4px;
  text-transform: lowercase;
  font-size: 2vw;
  font-weight: normal;
}
html {
  scroll-behavior: smooth;
}
body {
  background: $background;
  color: white;
  position: relative;
}
 .playerTitle {
   background-image: url("../images/850_bgimg.jpg");
   // background-image: url("../images/850_bgimg.webp");
   @extend %bgImages;
   display: flex;
   align-items: center;
   justify-content: center;
}
h1 {
  font-size: 3vw;
  color: #0e0d12;
  padding: 10px;
  background: $linkColor; // in case tranparency isn't possible
  background: #fdcb00ba;
  letter-spacing: 9px;
}
.logo {
  max-width: 80px;
}
.navbar {
  padding: 0 15px;
  background-color: $navColor;
  text-transform: uppercase;
  border-bottom: solid 1px #000;
}
.navbar-dark .navbar-nav .nav-link {
  color: $linkColor;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}
.currentSection {
  display: flex;
  @extend %sections;
}

.container {
  transform: translateY(90px);
  margin: 0 auto;
  max-width: 100%;
  font-size: 14px;
  padding: 0;
}
.share {
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.a2a_floating_style {
  background-color: $background;
}

.first {
  padding: 0 10vw 40px 10vw;
  min-height: 60vh;
}

/* player info */
.playerSection {
  visibility: hidden;
  display: flex;
  min-width: 260px;
  justify-content: space-evenly;
  padding-left: 6px;
  padding-bottom: 20px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
}
h2 {
  @extend %titles;
}
.artist {
  font-weight: bold;
}
.albumCover {
  max-width: 60px;
}

#currentSong {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.player {
  box-sizing: content-box;
  align-self: flex-start;
  visibility: hidden;
  padding: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
}
.player:hover {
  opacity: 0.7;
}
.lastSongsSection {
  @extend %sections;
  h2 {
    text-align: left;
    padding-left: 7px;
  }
}

// Last songs aired section
#recentSongs {
  display: flex;
  @extend %sections;
  .loading {
    align-self: flex-start;
    padding-left: 20px;
  }
}

#airedList {
  padding-left: 0;
  li {
      display: flex;
      align-items: center;
      padding: 4px 0;
      img {
        padding-right: 4px;
      }
    }
  }

// apps section
.appsTitle {
   background-image: url("../images/850_IMG_7785.jpg");
   // background-image: url("../images/850_IMG_7785.webp");
   @extend %bgImages;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.moreSection {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 60px;
  button {
    align-self: center;
  }
}
a {
  color: $linkColor;
  transition: color 0.3s;
}
a:hover {
  color: white;
}
a img {
  transition: opacity 0.3s;
}

a img:hover {
  opacity: 0.7;
}

#more {
  padding: 20px;
}

.second {
  @extend %sectionsPadding;
  padding-bottom: 0;
  max-width: 1000px;
  flex-wrap: wrap;
  margin: auto;
  .col {
    text-align: center;
    min-width: 150px;
  }
}
.btn-secondary {
  background-color: $navColor;
}

// About section
.aboutTitle {
  background-image: url("../images/850_IMG_5270.jpg");
  // background-image: url("../images/850_IMG_5270.webp");
  @extend %bgImages;
  display: flex;
  background-position: center;
  align-items: center;
  justify-content: center;
}
.aboutSection {
  padding: 60px;
  // padding-top: 20px;
  font-size: 16px;
  text-align: center;
  max-width: 970px;
  margin: auto;
  p {
    padding-top: 20px;
  }
  img {
    width: 600px;
    max-width: 90%;
    padding: 30px;
  }
}

// Contact section
.contactTitle {
  background-image: url("../images/850_IMG_4049.jpg");
  // background-image: url("../images/850_IMG_4049.webp");
  @extend %bgImages;
  display: flex;
  background-position: center;
  align-items: center;
  justify-content: center;
}
.contactSection {
  font-size: 1.5vw;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @extend %sectionsPadding;
  // padding-bottom: 20px;
  h2 {
    padding: 15px;
  }
}
.socialmedia {
  font-size: 25px;
  padding: 20px;
}

// footer
footer {
  transform: translateY(90px);
  text-align: center;
  background-color: $navColor;
  padding-top: 15px;
  border-top: solid 1px #000;
  a {
    font-size: 25px;
  }
  a:hover {
    text-decoration: none;
  }
  p {
    font-size: 14px;
    padding: 10px;
    padding-top: 4px;
    margin:0;
  }
}
.hiddenDescription {
  display: none;
}
// Responsive styling
@media(min-width: 768px) and (max-width: 1000px) {
  .player {
    width: 120px;
  }
  .container {
    font-size: 13px;
  }
}

@media (min-width: 1100px) {
  .appsTitle, .contactTitle, .playerTitle, .aboutTitle{
    background-attachment: fixed;
  }
  h1 {
    font-size: 30px;
  }
}

@media (min-width: 870px) {
  .navbar {
    padding: 0 10vw;
  }
  .playerTitle {
    background-image: url("../images/cut_IMG_7342.jpg");
    // background-image: url("../images/cut_IMG_7342.webp");
    transform: translateY(1px);
  }
  .contactTitle {
    background-image: url("../images/IMG_4049.jpg");
    // background-image: url("../images/IMG_4049.webp");
    transform: translateY(1px);
  }
  .appsTitle {
    background-image: url("../images/IMG_7785.jpg");
    // background-image: url("../images/IMG_7785.webp");
    transform: translateY(1px);
  }
  .aboutTitle {
    background-image: url("../images/IMG_5270.jpg");
    // background-image: url("../images/IMG_5270.webp");
    transform: translateY(1px);
  }
}

@media (max-width: 869px) {
  .first {
    padding-top: 60px;
  }
  .share {
    right: 0;
  }
  .appsTitle, .contactTitle, .playerTitle, .aboutTitle {
      height: 40vh;
  }
  .playerTitle {
    transform: translateY(50px);
  }
  h1 {
    font-size: 20px;
  }
  .container {
    transform: translateY(50px);
    font-size: 12px;
  }
  h2 {
    font-size: 17px;
  }
  .player {
    width: 100px;
  }
  .navbar {
    font-size: 14px;
  }
  .logo {
    max-width: 60px;
  }
  .contactSection {
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
  .contactSection, .aboutSection {
    font-size: 14px;
    a {
      font-size: 15px;
    }
  }
  .aboutSection img {
    padding: 10px;
  }
}
@media (max-width: 374px) {
  .second .col {
    min-width: 100px;
  }
  .share {
    display: none;
  }
}
